.container{
    background: #111;
    height: 100vh;
    background-size: cover; 
    padding: 10px;
    display: flex;
    align-items: center;

    justify-content: center;

    gap: 100px;

    h1{
        text-align: center;
        background-color: rgba(204, 204, 204, 0.9);
        padding: 0px 100px;
         
    }
  
    td, th{
        padding: 5px 20px;
        text-align: center;
    }
     
    thead{
        tr{
            background-color:  rgba(204, 204, 204, 0.9);
        }
    }
    tbody{
        color: #fff;
    }

    a{
        text-decoration: none;
        color: #fff;
        &:hover{
            text-decoration: underline;
        }
    }
}